$base-gradient-original : /*#3A1C71;   fallback for old browsers */
        linear-gradient(to right bottom, rgb(250, 166, 27), rgb(250, 166, 27), rgb(248, 137, 29), rgb(245, 121, 33), rgb(242, 106, 38));
$base-gradient-light : /*#3A1C71;   fallback for old browsers */
        linear-gradient(to right bottom, rgb(250, 166, 27), rgb(250, 166, 27), rgb(248, 137, 29), rgb(245, 121, 33), rgb(242, 106, 38));
$base-gradient-normal : /*#3A1C71;   fallback for old browsers */
        linear-gradient(to right bottom, rgb(250, 166, 27), rgb(250, 166, 27), rgb(248, 137, 29), rgb(245, 121, 33), rgb(242, 106, 38));
$primary-color: #3A1C71;
$primary-black: #474747;
$text-color:#70777C;
$primary-pink: #CC527A;

$app-color: rgb(242, 106, 38);
