.text-bold {
  font-weight: 700 !important;
}
.text-regular {
  font-weight: 400 !important;
}
.text-light {
  font-weight: 300 !important;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-regularweight {
  font-size: 16px;
}